body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: hsl(0, 36%, 95%);
}

header {
    background-color: #333;
    color: rgb(241, 233, 233);
    text-align: center;
    padding: 30px;
}

section {
    background-color: rgb(246, 232, 232);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}