body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: #333;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

#taskCount {
    font-weight: bold;
    color: #555;
}

li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}